//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

//cores

$corPrincipal:#182C61;
$corTexto:#fff;
$corVerdeEscuro: #44bd32;
$corVerdeClaro:#4cd137;